{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content|raw }}
    {# Git repository edit link -  hibbittsdesign.org #}
    {% if ( not (config.site.gitsynclink.editlinklocation)) or ( page.header.git_sync_repo_link_display is defined and page.header.git_sync_repo_link_display == 'page' ) or (( config.site.gitsynclink.editlinklocation == 'page' and page.header.git_sync_repo_link_display is not defined ) and not (page.header.hide_git_sync_repo_link)) %}
    <p>{% include 'partials/gitsynclink_note.html.twig' %}</p>
    {% endif %}
{% endblock %}
